:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

::ng-deep mat-list-item {
  height: auto !important;
  min-height: auto !important;
  align-items: stretch !important;
}

::ng-deep .mat-mdc-list-item {
  height: auto !important;
  min-height: auto !important;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: inherit;
  padding: 16px;
  z-index: 10;
  flex-grow: 1;
}
