.checkout-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 24px;
  padding: 24px;
  height: 100%;
}

.form-box {
  border: solid;
  padding: 1%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.summary-box {
  border: solid;
  padding: 1%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.cart-contents-box {
  border: solid;
  padding: 1%;
  overflow-y: auto;
  height: 500px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
