<div class="page-block">
  <h1>Create new item listing</h1>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput maxlength="200" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput maxlength="1000"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput maxlength="1000" />
    </mat-form-field>
    <app-price-input></app-price-input>
  </form>

  <button matButton="filled">Create Listing</button>
</div>
