<div class="dashboard-container">
  <h1>Seller Dashboard</h1>

  <h2>Unfinished orders</h2>
  @if (pendingOrders() === null) {
    <mat-spinner></mat-spinner>
  } @else if (pendingOrders()!.length === 0) {
    <p>Nothing to show.</p>
  } @else {
    <mat-accordion>
      <div>
        @for (item of pendingOrders(); track $index) {
          <app-order [order]="item" [forSeller]="true" [isAlt]="$index % 2 === 0"></app-order>
          <div class="panel"></div>
        }
      </div>
    </mat-accordion>
  }

  <h2>Completed orders</h2>
  @if (otherOrderItems() === null) {
    <mat-spinner></mat-spinner>
  } @else if (otherOrderItems()!.length === 0) {
    <p>Nothing to show.</p>
  } @else {
    <mat-accordion>
      <!-- Put completed orders here -->
    </mat-accordion>
  }
</div>
