.user-card {
  display: flex;
  justify-content: right;
  margin-left: auto;
  width: 15%;
}

.clickable {
  cursor: pointer;
}

.avatar-btn {
  border: none;
}

.avatar-img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.login-register {
  display: flex;
  justify-content: right;
  padding-right: 20px;
}
