.floating-btn-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 12px; // spacing between buttons
  z-index: 2000;
}

.create-listing-btn {
  background-color: lightcyan;
}
